@keyframes buttonHover {
    0% {
        background-position-x: 0%;
        background-size: 0% 100%;
    }

    50% {
        background-position-x: 0%;
        background-size: 100% 100%;
    }

    51% {
        background-position-x: 100%;
        background-size: 100% 100%;
    }

    100% {
        background-position-x: 100%;
        background-size: 0% 100%;
    }
}

@keyframes underlineHover {
    0% {
        background-position-x: 100%;
        background-size: 100% 1.5px;
    }

    50% {
        background-position-x: 100%;
        background-size: 0% 1.5px;
    }

    51% {
        background-position-x: 0%;
        background-size: 0% 1.5px;
    }

    100% {
        background-position-x: 0%;
        background-size: 100% 1.5px;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 1;
    }

    40% {
        stroke-dashoffset: 0;
    }

    60% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: -1;
    }
}