$white: white;
$black: black;
$light: #EEEEEE;
$dark: #282828;
$darker: #1F1F1F;
$primaryColor: #FBE216;
$primaryColorDark: #c9b313;
$secondaryColor: #AFA5D1;
$secondaryColorDark: #928AAC;
$purpleColor: #AFA5D1;
$purpleColorDark: #6E6885;
$blueColor: #73BAD1;
$blueColorDark: #508394;
$redColor: #F0869D;
$redColorDark: #9B5564;
$greenColor: #6FBC85;
$greenColorDark: #4D7E5B;