RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# BEGIN WordPress
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
# END WordPress

<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf|webp)(\.gz)?$">
Header set Expires "Thu, 15 DEC 2020 20:00:00 GMT"
Header unset ETag
FileETag None

# One month for most static assets
<FilesMatch "\.(css|jpg|jpeg|png|gif|js|ico)$">
Header set Cache-Control "max-age=31557600, public"
