// svg home

@keyframes animate-home-1 {
    0% {
        stroke-dashoffset: 75.63961029052734px;
        stroke-dasharray: 75.63961029052734px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 75.63961029052734px;
    }
}

@keyframes animate-home-2 {
    0% {
        stroke-dashoffset: 77.7079849243164px;
        stroke-dasharray: 77.7079849243164px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 77.7079849243164px;
    }
}

@keyframes animate-home-3 {
    0% {
        stroke-dashoffset: 52.7079963684082px;
        stroke-dasharray: 52.7079963684082px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 52.7079963684082px;
    }
}

@keyframes animate-home-4 {
    0% {
        stroke-dashoffset: 242px;
        stroke-dasharray: 242px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 242px;
    }
}

// svg parcours

@keyframes animate-parcours-1 {
    0% {
        stroke-dashoffset: 33.42034149169922px;
        stroke-dasharray: 33.42034149169922px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 33.42034149169922px;
    }
}

@keyframes animate-parcours-2 {
    0% {
        stroke-dashoffset: 33.42034149169922px;
        stroke-dasharray: 33.42034149169922px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 33.42034149169922px;
    }
}

@keyframes animate-parcours-3 {
    0% {
        stroke-dashoffset: 33.81980514526367px;
        stroke-dasharray: 33.81980514526367px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 33.81980514526367px;
    }
}

@keyframes animate-parcours-4 {
    0% {
        stroke-dashoffset: 242px;
        stroke-dasharray: 242px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 242px;
    }
}

// svg competences

@keyframes animate-competences-1 {
    0% {
        stroke-dashoffset: 136.138427734375px;
        stroke-dasharray: 136.138427734375px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 136.138427734375px;
    }
}

@keyframes animate-competences-2 {
    0% {
        stroke-dashoffset: 16.142135620117188px;
        stroke-dasharray: 16.142135620117188px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 16.142135620117188px;
    }
}

@keyframes animate-competences-3 {
    0% {
        stroke-dashoffset: 51.497474670410156px;
        stroke-dasharray: 51.497474670410156px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 51.497474670410156px;
    }
}

@keyframes animate-competences-4 {
    0% {
        stroke-dashoffset: 7.303300857543945px;
        stroke-dasharray: 7.303300857543945px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 7.303300857543945px;
    }
}

@keyframes animate-competences-5 {
    0% {
        stroke-dashoffset: 51.497474670410156px;
        stroke-dasharray: 51.497474670410156px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 51.497474670410156px;
    }
}

@keyframes animate-competences-6 {
    0% {
        stroke-dashoffset: 7.303300857543945px;
        stroke-dasharray: 7.303300857543945px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 7.303300857543945px;
    }
}

@keyframes animate-competences-7 {
    0% {
        stroke-dashoffset: 242px;
        stroke-dasharray: 242px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 242px;
    }
}

// svg portfolio

@keyframes animate-portfolio-1 {
    0% {
        stroke-dashoffset: 128.41600036621094px;
        stroke-dasharray: 128.41600036621094px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 128.41600036621094px;
    }
}

@keyframes animate-portfolio-2 {
    0% {
        stroke-dashoffset: 43.42035675048828px;
        stroke-dasharray: 43.42035675048828px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 43.42035675048828px;
    }
}

@keyframes animate-portfolio-3 {
    0% {
        stroke-dashoffset: 2.0249996185302734px;
        stroke-dasharray: 2.0249996185302734px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 2.0249996185302734px;
    }
}

@keyframes animate-portfolio-4 {
    0% {
        stroke-dashoffset: 7px;
        stroke-dasharray: 7px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 7px;
    }
}

@keyframes animate-portfolio-5 {
    0% {
        stroke-dashoffset: 2.0249996185302734px;
        stroke-dasharray: 2.0249996185302734px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 2.0249996185302734px;
    }
}

@keyframes animate-portfolio-6 {
    0% {
        stroke-dashoffset: 7px;
        stroke-dasharray: 7px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 7px;
    }
}

@keyframes animate-portfolio-7 {
    0% {
        stroke-dashoffset: 242px;
        stroke-dasharray: 242px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 242px;
    }
}


// contact

@-webkit-keyframes animate-contact-1 {
    0% {
        stroke-dashoffset: 14.206555366516113px;
        stroke-dasharray: 14.206555366516113px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 14.206555366516113px;
    }
}

@keyframes animate-contact-1 {
    0% {
        stroke-dashoffset: 14.206555366516113px;
        stroke-dasharray: 14.206555366516113px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 14.206555366516113px;
    }
}

@-webkit-keyframes animate-contact-2 {
    0% {
        stroke-dashoffset: 66.56814575195312px;
        stroke-dasharray: 66.56814575195312px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 66.56814575195312px;
    }
}

@keyframes animate-contact-2 {
    0% {
        stroke-dashoffset: 66.56814575195312px;
        stroke-dasharray: 66.56814575195312px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 66.56814575195312px;
    }
}


// burger

@keyframes burgerIn1 {
    0% {
        top: 33%;
        transform: translate(-50%, -50%) rotate(0deg);
    }

    50% {
        top: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        top: 50%;
        transform: translate(-50%, -50%) rotate(135deg);
    }
}

@keyframes burgerIn2 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    51% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes burgerIn3 {
    0% {
        top: 67%;
        transform: translate(-50%, -50%) rotate(0deg);
    }

    50% {
        top: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
}

@keyframes burgerOut1 {
    0% {
        top: 50%;
        transform: translate(-50%, -50%) rotate(135deg);
    }

    50% {
        top: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        top: 33%;
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

@keyframes burgerOut2 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    51% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes burgerOut3 {
    0% {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    50% {
        top: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        top: 67%;
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

@keyframes arrowDown {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(-50%);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(0%);
    }
}

@keyframes slideUp {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes centeredSlideUp {
    to {
        transform: translate(-50%, 0);
        opacity: 1;
    }
}

@keyframes popUp {
    to {
        transform: scale(1);
        opacity: 1;
    }
}