#archivesCours {
    color: $black;

    .card {
        h5 {
            font-weight: bold;
        }

        hr {
            border-top-width: 2px;
        }

        a {
            background-color: $primary;
            color: $white;
        }
    }
}