.cours {
    padding: 1rem 5rem;

    h1 {
        text-align: center;
        margin-bottom: 2rem;
    }

    section {
        margin-top: 2rem;

        h2 {
            margin-bottom: 2rem;
        }
    }

    .sectionButtons {
        position: fixed;
        bottom: 3rem;
        right: 5rem;
        user-select: none;
        display: flex;
        justify-content: end;
        align-items: center;

        #arrowLeft,
        #arrowRight {
            background-color: transparent;
            cursor: pointer;
            border: solid 3px $black;
            border-radius: 3px;
            margin-inline: 6px;
            overflow: hidden;
            color: $black;
        }

        #arrowLeft:hover svg {
            animation: leftArrowHover .3s ease-in-out;
        }

        #arrowRight:hover svg {
            animation: rightArrowHover .3s ease-in-out;
        }
    }
}

@keyframes leftArrowHover {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes rightArrowHover {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes hoverAsideCours {
    0% {
        transform: translateY(-50%) rotate(180deg);
    }

    100% {
        transform: translateY(-50%) rotate(0deg);
    }
}