#home {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    header {
        background: linear-gradient(rgba($black, .3), transparent);
        padding-right: 3%;

        .lienHeader {
            position: relative;
            margin-inline: 3%;
            letter-spacing: 5px;
            font-size: 24px;
            opacity: 0;

            &.loaded {
                animation: home-header-lienHeader 1s 1s ease-in-out forwards;
            }

            span {

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -2px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0;
                    height: 2px;
                    background-color: $white;
                    border-radius: 2px;
                    opacity: .4;
                    transition: all .3s ease-in-out;
                }
            }

            &:hover {

                span::after {
                    width: calc(100% - 50px);
                    opacity: 1;
                }
            }
        }
    }

    .titre {
        margin-left: 6%;

        h1 {
            font-size: calc(40px + 2vw);
            letter-spacing: 10rem;
            opacity: 0;

            &.loaded {
                animation: home-titre-h1 1s ease-in-out forwards;
            }

            span {
                display: inline-block;
                width: 5px;
                height: .8em;
                margin-bottom: -5px;
                background-color: rgba($white, .3);
                animation: clignoter 1s infinite;
            }
        }

        h2 {
            transition: all 1s ease-in-out;
            transition-delay: .5s;
            font-size: calc(12px + 1vw);
            letter-spacing: calc(5px + .5vw);
            transform: translateY(20px);
            opacity: 0;

            &.loaded {
                animation: home-titre-h2 1s .5s ease-in-out forwards;
            }
        }
    }

    .scrollIndicator {
        width: 20px;
        height: 60px;
        overflow: hidden;
        border-radius: 2rem;

        @media (max-width: 576px) {
            right: 50% !important;
            transform: translateX(50%);
            margin-right: 0 !important;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $white;
            opacity: .6;
            border-radius: 2rem;
            animation: 2s infinite scrollIndicator;
        }
    }
}

@keyframes clignoter {
    0% {
        opacity: 1;
    }

    40% {
        opacity: .2;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scrollIndicator {
    0% {
        transform: translateY(100%);
    }

    30% {
        opacity: .5;
    }

    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}