#portfolio {
    padding-block: 4rem;

    @media (max-width: 992px) {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    @media (max-width: 576px) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    h1 {
        font-size: calc(10px + 6vw);
        letter-spacing: .4em;
        width: fit-content;
        padding-bottom: 2rem;

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            width: 30%;
            height: 5px;
            background-color: $primary;
            border-radius: 5px;
        }
    }

    #swiperPortfolio {
        margin-top: 5rem;

        .swiper-wrapper {

            .swiper-slide {
                transition: all .3s ease-in-out;
                border-radius: 2rem;
                overflow: hidden;
                aspect-ratio : 1 / 1;
                color: $white;

                &:not(.swiper-slide-active) {
                    transform: scale(.8) translateY(10%);
                }

                img {
                    transition: all .4s ease-in-out;
                    object-fit: cover;
                    object-position: 50% 0;
                }

                .description {
                    transition: all .3s ease-in-out;
                    overflow-y: auto;
                    -ms-overflow-style: none;
                    /* IE and Edge */
                    scrollbar-width: none;
                    /* Firefox */

                    &::-webkit-scrollbar {
                        display: none;
                        /* Chrome, Safari and Opera */
                    }

                    h3 {
                        margin-top: 20%;
                    }

                    hr {
                        width: 15%;
                        margin: 2rem auto;
                        border-top: 3px solid;
                        opacity: .8;
                    }

                    ul {
                        
                        li {
                            font-weight: bold;
                        }
                    }
                }

                svg {
                    pointer-events: none;
                }

                &:hover img {
                    filter: blur(4px) brightness(.3);
                }

                &:not(:hover) .description {
                    height: 0 !important;
                    padding-block: 0 !important;
                }
            }
        }

        .swiper-button-prev-arrow,
        .swiper-button-next-arrow {
            transition: all .1s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}