$black: #000;
$white: #ffffff;
$darkWhite: #EFEFEF;
$primary: #FCA311;

$breakpoints: (
    xxl: 1400px,
    xl: 1200px,
    lg: 992px,
    md: 768px,
    sm: 576px
);

@font-face {
    font-family: "audiowide";
    src: url("../fonts/Audiowide-Regular.ttf");
}

@import "_animations.scss";

* {
    cursor: none !important;
}

body {
    width: 100dvw;
    margin: 0;
    background-color: $black;
    overflow-x: hidden;
}

#cursor {
    transition: width 0.3s, height 0.3s;
    position: fixed;
    pointer-events: none;
    -webkit-backdrop-filter: invert(1) grayscale(1);
    backdrop-filter: invert(1) grayscale(1);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 10000;

    &:not(.active) {
        display: none;
    }

    &.hover {
        width: 60px;
        height: 60px;
    }

    @media only screen and (hover: none) and (pointer: coarse) {
        display: none;
    }
}

.toTop {
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    fill: none;
    stroke: black;
    stroke-width: 10px;
    stroke-linecap: round;
    stroke-linejoin: round;

    circle {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
    }

    @media screen and (max-width: map-get($breakpoints, md)) {
        bottom: 30px;
        right: 30px;
    }
}

.hover_button {
    position: relative;
    transition: all .2s ease-in-out;
    background-color: transparent;
    border: none;
    outline: solid 3px $primary;
    padding: 12px 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .25);
    border-radius: 50px;
    overflow: hidden;
    font-family: "audiowide";
    font-weight: 700;
    color: $darkWhite;

    span {
        position: relative;
    }

    &::before {
        content: "";
        transition: width .5s ease-in-out;
        position: absolute;
        background-color: $primary;
        left: var(--left);
        top: var(--top);
        transform: translate(-50%, -50%);
        width: 0;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
    }

    &:hover {
        color: $black;
        outline-width: 0;

        &::before {
            width: 200%;
        }
    }
}

.logo {
    position: absolute;
    top: min(30px, 5vw);
    left: min(30px, 5vw);
    z-index: 1000;
    color: $darkWhite;
    opacity: .8;

    svg {
        transform: scale(.8);
    }
}

.nav {
    position: fixed;
    top: min(30px, 5vw);
    right: min(30px, 5vw);
    z-index: 1000;
    padding: 0;
    display: flex;
    align-items: center;

    .navList {
        transition: all .3s ease-in-out;
        position: absolute;
        right: 0;
        max-width: 0;
        height: 60px;
        padding-right: 90px;
        display: flex;
        flex-wrap: nowrap;
        background-color: $primary;
        border-radius: 50px;
        overflow: hidden;

        a {
            margin: .5rem;

            &:first-child {
                margin-left: 1rem;
            }

            svg {
                transition: transform .1s ease-in-out;
                height: 100%;
                width: auto;
                stroke: $black;
            }

            &:hover svg {
                transform: scale(1.1);

                .home-1 {
                    animation: animate-home-1 0.3s ease-in-out 0s both;
                }

                .home-2 {
                    animation: animate-home-2 0.3s ease-in-out 0.1s both;
                }

                .home-3 {
                    animation: animate-home-3 0.3s ease-in-out 0.2s both;
                }

                .home-4 {
                    animation: animate-home-4 0.3s ease-in-out 0.3s both;
                }

                .parcours-1 {
                    animation: animate-parcours-1 0.3s ease-in-out 0s both;
                }

                .parcours-2 {
                    animation: animate-parcours-2 0.3s ease-in-out 0.1s both;
                }

                .parcours-3 {
                    animation: animate-parcours-3 0.3s ease-in-out 0.2s both;
                }

                .parcours-4 {
                    animation: animate-parcours-4 0.3s ease-in-out 0.3s both;
                }

                .competences-1 {
                    animation: animate-competences-1 0.3s ease-in-out 0s both;
                }

                .competences-2 {
                    animation: animate-competences-2 0.3s ease-in-out 0.1s both;
                }

                .competences-3 {
                    animation: animate-competences-3 0.3s ease-in-out 0.2s both;
                }

                .competences-4 {
                    animation: animate-competences-4 0.3s ease-in-out 0.3s both;
                }

                .competences-5 {
                    animation: animate-competences-5 0.3s ease-in-out 0.4s both;
                }

                .competences-6 {
                    animation: animate-competences-6 0.3s ease-in-out 0.5s both;
                }

                .competences-7 {
                    animation: animate-competences-7 0.3s ease-in-out 0.6s both;
                }

                .portfolio-1 {
                    animation: animate-portfolio-1 0.3s ease-in-out 0s both;
                }

                .portfolio-2 {
                    animation: animate-portfolio-2 0.3s ease-in-out 0.1s both;
                }

                .portfolio-3 {
                    animation: animate-portfolio-3 0.3s ease-in-out 0.2s both;
                }

                .portfolio-4 {
                    animation: animate-portfolio-4 0.3s ease-in-out 0.30000000000000004s both;
                }

                .portfolio-5 {
                    animation: animate-portfolio-5 0.3s ease-in-out 0.4s both;
                }

                .portfolio-6 {
                    animation: animate-portfolio-6 0.3s ease-in-out 0.5s both;
                }

                .portfolio-7 {
                    animation: animate-portfolio-7 0.3s ease-in-out 0.6000000000000001s both;
                }
            }
        }
    }

    .burger {
        position: relative;
        border-radius: 50px;
        background-color: $primary;
        border: 10px solid $black;
        outline: none;
        height: 90px;
        aspect-ratio: 1/1;

        div {
            position: absolute;
            width: 50%;
            height: 8%;
            left: 50%;
            border-radius: 10px;
            background-color: $black;
            transform: translate(-50%, -50%);

            &:nth-child(1) {
                animation: burgerOut1 .3s ease-in-out forwards;
            }

            &:nth-child(2) {
                animation: burgerOut2 .3s ease-in-out forwards;
            }

            &:nth-child(3) {
                animation: burgerOut3 .3s ease-in-out forwards;
            }
        }
    }

    &.active {
        .navList {
            max-width: 1000px;
        }

        .burger {
            div {
                &:nth-child(1) {
                    animation: burgerIn1 .3s ease-in-out forwards;
                }

                &:nth-child(2) {
                    animation: burgerIn2 .3s ease-in-out forwards;
                }

                &:nth-child(3) {
                    animation: burgerIn3 .3s ease-in-out forwards;
                }
            }
        }
    }
}

#home {
    position: relative;
    height: 100dvh;
    background: $black; //radial-gradient(circle, #202020 0%, #101010 100%)

    .description {
        position: absolute;
        top: 50%;
        left: 0;
        margin-inline: 15%;
        transform: translateY(-50%);

        h1 {
            font-family: "audiowide";
            color: $primary;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            span:first-child {
                font-size: calc(20px + 3vw);
            }

            span:last-child {
                font-size: calc(32px + 4vw);
            }

            @media only screen and (hover: none) and (pointer: coarse) {
                // align-items: center;
            }
        }

        p {
            color: $darkWhite;
            font-size: calc(16px + .5vw);
            font-weight: 100;
            max-width: 500px;
            margin-top: 3rem;
        }

        button {
            margin-top: 1rem;
            font-size: 20px;

            @media screen and (max-width: map-get($breakpoints, sm)) {
                font-size: 20px;
            }
        }
    }

    #homeAvatar {
        position: absolute;
        bottom: 0;
        left: 75%;
        transform: translateX(-50%);
        -webkit-user-select: none;
        user-select: none;
        max-height: 80%;

        @media screen and (max-width: map-get($breakpoints, lg)) {
            display: none;
        }
    }

    .arrowDown {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        color: $white;
        animation: arrowDown 2s ease infinite;
    }
}

@keyframes arrowDown {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(-50%);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(0%);
    }
}

#parcours {
    position: relative;

    .parcoursTitle {
        position: sticky;
        top: 0;
        left: 0;
        width: 70%;
        min-width: 300px;

        .shape {
            position: relative;
            width: 100%;
            height: auto;
            object-fit: contain;
        }

        .title {
            position: absolute;
            font-family: "audiowide";
            left: 40%;
            top: 30%;
            transform: translate(-50%, -50%);
            color: $black;
            font-size: 56px;
            white-space: nowrap;
            margin: 0;
        }
    }

    .parcoursLIst {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex;
        align-items: stretch;

        .item {
            position: relative;
            color: $white;
            display: flex;
        }
    }

    // .parcoursContainer {
    //     position: sticky;
    //     top: 0;
    //     height: 100dvh;
    //     background-color: $darkWhite;
    //     display: flex;
    //     flex-direction: column;

    //     #parcoursTitleList {

    //         &::after {
    //             content: "";
    //             position: absolute;
    //             inset: 0;
    //             background: linear-gradient(90deg, $darkWhite 0%, transparent 20%, transparent 80%, $darkWhite 100%)
    //         }
    //     }

    //     .divParcours {
    //         position: relative;
    //         flex-grow: 1;
    //         display: grid;
    //         grid-template-columns: minmax(200px, 30%) 1fr;

    //         @media screen and (max-width: map-get($breakpoints, md)) {
    //             grid-template-columns: 1fr;
    //             grid-template-rows: minmax(160px, 30%) 1fr;
    //         }

    //         .parcoursLeft {
    //             position: relative;
    //             width: 100%;
    //             height: 80%;
    //             top: 50%;
    //             left: 0;
    //             transform: translateY(-50%);

    //             @media screen and (max-width: map-get($breakpoints, md)) {
    //                 top: 0;
    //                 left: 50%;
    //                 transform: translateX(-50%);
    //                 width: 80%;
    //                 height: 100%;
    //             }

    //             .barreVerticale {
    //                 position: absolute;
    //                 top: 50%;
    //                 right: 50%;
    //                 transform: translateY(-50%);
    //                 width: 10px;
    //                 height: 100%;
    //                 border-radius: 10px;
    //                 background: linear-gradient(180deg, $black 0%, $black calc(100% - 80px), transparent calc(100% - 80px), transparent calc(100% - 70px), $black calc(100% - 70px), $black calc(100% - 40px), transparent calc(100% - 40px), transparent calc(100% - 30px), $black calc(100% - 30px), $black 100%);

    //                 @media screen and (max-width: map-get($breakpoints, md)) {
    //                     top: unset;
    //                     right: unset;
    //                     left: 50%;
    //                     bottom: 50%;
    //                     transform: translateX(-50%);
    //                     width: 100%;
    //                     height: 8px;
    //                     background: linear-gradient(90deg, $black 0%, $black calc(100% - 80px), transparent calc(100% - 80px), transparent calc(100% - 70px), $black calc(100% - 70px), $black calc(100% - 40px), transparent calc(100% - 40px), transparent calc(100% - 30px), $black calc(100% - 30px), $black 100%);
    //                 }
    //             }

    //             .barreSelection {
    //                 transition: all .3s ease-in-out;
    //                 position: absolute;
    //                 left: calc(50% + 40px);
    //                 width: 20px;
    //                 border: 6px solid $black;
    //                 border-left-width: 0px;
    //                 transform: translateY(-3px);

    //                 &::after {
    //                     content: attr(data-label);
    //                     position: absolute;
    //                     left: 100%;
    //                     top: 50%;
    //                     transform: translateY(-50%);
    //                     margin-left: 1rem;
    //                 }

    //                 @media screen and (max-width: map-get($breakpoints, md)) {
    //                     top: calc(50% + 30px);
    //                     height: 15px;
    //                     border: 5px solid $black;
    //                     border-top-width: 0px;

    //                     &::after {
    //                         top: 100%;
    //                         left: 50%;
    //                         transform: translateX(-50%);
    //                         margin-left: 0;
    //                         margin-top: 1rem;
    //                     }
    //                 }
    //             }

    //             .point {
    //                 position: absolute;
    //                 left: 50%;
    //                 top: 0;
    //                 transform: translate(-50%, -50%);
    //                 width: 40px;
    //                 height: 40px;
    //                 border-radius: 50%;
    //                 background-color: $darkWhite;
    //                 border: 10px solid $black;
    //                 -moz-box-sizing: border-box;
    //                 -webkit-box-sizing: border-box;
    //                 box-sizing: border-box;

    //                 &::before {
    //                     content: attr(data-year);
    //                     position: absolute;
    //                     top: 50%;
    //                     right: 100%;
    //                     transform: translateY(-50%);
    //                     margin-right: 20px;
    //                     font-family: "audiowide";
    //                 }

    //                 @media screen and (max-width: map-get($breakpoints, md)) {
    //                     top: 50%;
    //                     left: 0;
    //                     width: 35px;
    //                     height: 35px;
    //                     border-width: 8px;

    //                     &::before {
    //                         top: unset;
    //                         left: 50%;
    //                         right: unset;
    //                         bottom: 100%;
    //                         transform: translateX(-50%);
    //                         margin-right: 0;
    //                         margin-bottom: 20px;
    //                         font-size: 12px;
    //                     }
    //                 }
    //             }
    //         }

    //         .parcoursRight {
    //             position: relative;

    //             .parcoursRightContainer {
    //                 transition: all .3s ease-in-out;
    //                 position: absolute;
    //                 top: 50%;
    //                 left: 50%;
    //                 transform: translate(-50%, -50%);
    //                 opacity: 1;
    //                 min-height: 60%;
    //                 width: 80%;
    //                 max-height: 100%;
    //                 padding-left: 5px;
    //                 display: flex;
    //                 flex-direction: column;

    //                 @media screen and (max-width: map-get($breakpoints, md)) {
    //                     top: 0;
    //                     transform: translateX(-50%);
    //                     min-height: unset;
    //                     max-height: 90%;
    //                 }

    //                 &:not(.active) {
    //                     pointer-events: none;
    //                     opacity: 0;
    //                     transform: translate(-50%, calc(-50% + 50px));

    //                     @media screen and (max-width: map-get($breakpoints, md)) {
    //                         transform: translate(-50%, 50px);
    //                     }
    //                 }

    //                 .titre {
    //                     position: relative;
    //                     margin-bottom: 26px;

    //                     &::after {
    //                         content: "";
    //                         position: absolute;
    //                         bottom: -10px;
    //                         left: -5px;
    //                         width: 50px;
    //                         height: 3px;
    //                         background-color: $black;
    //                         border-radius: 1px;
    //                     }
    //                 }

    //                 .texte {
    //                     flex-shrink: 1;
    //                     overflow-y: auto;
    //                 }
    //             }
    //         }
    //     }

    //     .progressBarContainer {
    //         position: absolute;
    //         bottom: 80px;
    //         left: 50%;
    //         transform: translateX(-50%) skewX(-30deg);
    //         width: 40%;
    //         height: 15px;
    //         background-color: $white;
    //         box-shadow: 0px 4px 10px rgba(0, 0, 0, .1);
    //         overflow: hidden;
    //         border-radius: 3px;

    //         .progressBar {
    //             transition: width .1s;
    //             position: absolute;
    //             top: 0;
    //             bottom: 0;
    //             left: 0;
    //             background-color: $primary;
    //         }

    //         @media screen and (max-width: map-get($breakpoints, md)) {
    //             width: 100%;
    //             bottom: 0;
    //             transform: translateX(-50%);
    //         }
    //     }
    // }
}

#competences {
    position: relative;
    height: 100dvh;
    background: $black;

    #competencesTitleList {
        color: $darkWhite;

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(90deg, $black 0%, transparent 20%, transparent 80%, $black 100%)
        }
    }
}