@import "tailwindcss";

@theme {
  --color-background: #eeeeee;
  --color-foreground: #222831;
  --color-white: #eeeeee;
  --color-black: #222831;
  --color-white-black: #888b8f;
  --color-light: #cccccc;
  --color-dark: #393e46;
  --color-primary: #00adb5;
  --color-primary-dark: #008b8f;

  @keyframes buttonHover {
    0% {
      background-position-x: 0%;
      background-size: 0% 100%;
    }
    50% {
      background-position-x: 0%;
      background-size: 100% 100%;
    }
    51% {
      background-position-x: 100%;
      background-size: 100% 100%;
    }
    100% {
      background-position-x: 100%;
      background-size: 0% 100%;
    }
  }
}

:root {
  scroll-behavior: smooth;
}

body {
  color: var(--color-foreground);
  background: var(--color-foreground);
}

.form-control {
  position: relative;
  display: grid;

  .input {
    min-width: 0;
    padding: 1rem;
    background-color: var(--color-dark);
    color: var(--color-white);
    border-radius: var(--radius-xl);
    outline: none;
  }

  label {
    position: absolute;
    left: 1rem;
    top: 1rem;
    color: var(--color-white);
    transition: all 0.2s ease-in-out;
    pointer-events: none;
  }

  .input:focus + label {
    top: -0.625rem;
    left: 0.75rem;
    font-size: 0.75rem;
  }
}
