body {
    background-color: $white;
    margin: 0;
    font-family: sans-serif;

    &:not(.active) {
        #menu {
            pointer-events: none;

            .background {
                background-color: rgba($black, 0);

                &::after {
                    transform: translateX(100%);
                }
            }

            .content {
                transform: translateX(100%);
            }
        }
    }

    &.active {
        overflow-y: hidden;
        max-height: 100vh;
        max-height: 100svh;

        #cursor {
            z-index: 11000;
        }

        #menu {
            .content {
                .hover,
                .cursorButton {
                    z-index: 12000;
                }
            }
        }

        #header {
            #nav {
                z-index: 12000;

                #language {
                    color: rgba($black, 0.5);

                    a {
                        color: rgba($black, 0.5);

                        &:not(:last-child)::after {
                            color: rgba($black, 0.5);
                        }

                        &.active {
                            color: $black;
                        }
                    }
                }

                #menuButton {
                    div {
                        background-color: $black;
                    }
                }
            }
        }
    }
}

.progressBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 6px;
    background-color: rgba($dark, 0.5);
    z-index: 100;

    .progressBarInner {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 0;
        background-color: $primary;
    }
}

.toTopButton {
    transition: all 0.3s ease-in-out;
    position: fixed;
    z-index: 10000;
    right: 4rem;
    bottom: 3rem;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 30px;
    color: $white;
    background-color: $primary;
    cursor: pointer;

    &:not(.active) {
        opacity: 0;
        -webkit-user-select: none;
        user-select: none;
        pointer-events: none;
    }

    &:hover {
        transform: scale(1.1);
    }

    @media screen and (max-width: map-get($breakpoints, md)) {
        right: 3rem;
        bottom: 2rem;
    }

    @media screen and (max-width: map-get($breakpoints, sm)) {
        right: 2rem;
        bottom: 1rem;
    }
}

#menu {
    #gamesButton {
        position: absolute;
        left: 4rem;
        top: 3rem;
    }

    .background {
        transition: all 0.3s ease-in-out;
        position: fixed;
        inset: 0;
        z-index: 10000;
        background-color: rgba($black, 0.5);

        &::after {
            content: "";
            transition: all 0.3s ease-in-out;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 400px;
            max-width: 100%;
            margin-left: auto;
            background-color: $white;
            box-shadow: 0 0 60px #0004;
        }
    }

    .content {
        transition: all 0.3s ease-in-out;
        position: fixed;
        z-index: 12000;
        top: 0;
        right: 0;
        bottom: 0;
        width: 400px;
        max-width: 100%;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 8rem;

        .navList {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            list-style: none;
            padding-left: 0;

            .item {
                text-transform: uppercase;
                font-size: 24px;
                font-weight: 600;
                letter-spacing: 2px;
                padding: 1rem;
                cursor: pointer;

                &.animationFinished {
                    transition: all 0.2s ease-in-out;
                }

                &:hover {
                    letter-spacing: 6px !important;
                }
            }
        }

        .links {
            position: relative;
            margin-inline: auto;
            display: flex;
            justify-content: center;
            gap: 1rem;

            a {
                position: relative;
                color: $black;
                text-decoration: none;

                svg {
                    position: relative;
                    width: 60px;
                    height: 60px;
                    object-fit: contain;
                    object-position: center;
                }
            }
        }
    }

    @media screen and (max-width: map-get($breakpoints, md)) {
        .background {
            &::after {
                width: 100%;
            }
        }

        .content {
            width: 100%;

            .navList {
                .item {
                    font-size: 20px;
                }
            }

            .links {
                gap: 1rem;

                a {
                    svg {
                        width: 50px;
                    }
                }
            }
        }
    }
}

#header {
    position: absolute;
    left: 4rem;
    top: 3rem;
    width: calc(100% - 8rem);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: map-get($breakpoints, md)) {
        left: 3rem;
        width: calc(100% - 6rem);
    }

    @media screen and (max-width: map-get($breakpoints, sm)) {
        left: 2rem;
        width: calc(100% - 4rem);
    }

    #logo svg {
        width: 50px;
        height: auto;
        fill: $white;
    }

    #nav {
        display: flex;
        align-items: center;

        #language {
            color: rgba($white, 0.5);
            font-size: 20px;
            margin-right: 1.5rem;

            a {
                color: rgba($white, 0.5);
                text-decoration: none;

                &:not(:last-child)::after {
                    content: "|";
                    color: rgba($white, 0.5);
                }

                &.active {
                    color: $white;
                }
            }
        }

        #menuButton {
            position: relative;
            width: 36px;
            height: 36px;
            border: none;
            outline: none;
            padding: 0;
            background-color: transparent;
            cursor: pointer;

            div {
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: $white;

                &:nth-child(1) {
                    top: 30%;
                }

                &:nth-child(2) {
                    bottom: 30%;
                }
            }
        }
    }
}

#top {
    position: relative;
    width: 100%;
    height: 100vh;
    height: 100svh;
    background-color: $black;

    .topContent {
        position: absolute;
        width: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;

        .text {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $white;

            h1 {
                font-size: 96px;
                text-align: center;
                margin: 0;

                .underscore {
                    color: $primary;
                }
            }

            p {
                font-size: 24px;
                text-align: center;
                max-width: 600px;
                font-weight: light;
                margin-top: 3rem;
            }

            @media screen and (max-width: map-get($breakpoints, md)) {
                h1 {
                    font-size: 80px;
                }

                p {
                    font-size: 20px;
                    max-width: 500px;
                    margin-top: 2rem;
                }
            }

            @media screen and (max-width: map-get($breakpoints, sm)) {
                h1 {
                    font-size: 64px;
                }

                p {
                    font-size: 16px;
                    max-width: 400px;
                    margin-top: 2rem;
                }
            }
        }

        .discover {
            position: relative;
            margin-top: 3rem;

            @media screen and (max-width: map-get($breakpoints, md)) {
                margin-top: 2rem;
            }
        }
    }

    .bottom {
        position: absolute;
        width: 100%;
        height: auto;
        left: 0;
        bottom: -1px;
    }

    .backgroundContainer {
        position: absolute;
        inset: 0;
        color: $primary;

        .backgroundSvg {
            position: absolute;
            width: 300px;
            height: auto;
            stroke-width: 1px;
            opacity: 0.3;
            display: none;

            @media screen and (max-width: map-get($breakpoints, md)) {
                width: 250px;
            }

            @media screen and (max-width: map-get($breakpoints, sm)) {
                width: 200px;
            }

            path {
                stroke-dasharray: 1;
                stroke-dashoffset: 1;
                animation: dash 4s ease-in-out alternate;
            }
        }
    }
}

#background {
    position: relative;
    background-color: $white;

    .content {
        position: relative;
        margin-block: 6rem;

        @media screen and (max-width: map-get($breakpoints, md)) {
            margin-block: 5rem;
        }

        @media screen and (max-width: map-get($breakpoints, sm)) {
            margin-block: 4rem;
        }

        .verticalLine {
            position: absolute;
            top: 0;
            left: 30%;
            transform: translateX(-50%);
            width: 4px;
            height: 100%;
            background: rgba($black, 0.3);

            &::after {
                content: "";
                transition: height 0.5s ease-in-out;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: var(--height);
                background: $primary;
            }

            @media screen and (max-width: map-get($breakpoints, sm)) {
                left: 35px;
            }
        }

        .parcoursLIst {
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 6rem;

            @media screen and (max-width: map-get($breakpoints, md)) {
                gap: 5rem;
            }

            @media screen and (max-width: map-get($breakpoints, sm)) {
                gap: 4rem;
            }

            .item {
                position: relative;
                transition: color 0.3s ease-in-out;
                color: rgba($black, 0.5);
                display: flex;
                align-items: flex-start;

                &::before,
                &::after {
                    content: "";
                    transition: all 0.3s ease-in-out;
                    position: absolute;
                    left: 30%;
                    top: 0;
                    transform: translateX(-50%);
                    width: 20px;
                    height: 20px;
                    border-radius: 35px;
                    background-color: $whiteBlack;
                    border: 15px solid $white;
                }

                &::after {
                    width: 0;
                    height: 0;
                    background-color: $primary;
                    border: none;
                    margin-top: 15px;
                }

                .title {
                    width: 25%;
                    text-align: end;
                    font-size: 40px;
                    color: inherit;
                    margin: 0;
                }

                .text {
                    margin: 0;
                    margin-left: 10%;
                    width: 50%;
                    color: inherit;
                }

                &.active {
                    color: $black;

                    &::after {
                        transition-delay: 0.5s;
                        width: 20px;
                        height: 20px;
                    }
                }

                @media screen and (max-width: map-get($breakpoints, md)) {
                    .title {
                        font-size: 28px;
                        margin-top: 8px;
                    }

                    .text {
                        width: 60%;
                    }
                }

                @media screen and (max-width: map-get($breakpoints, sm)) {
                    padding-left: 70px;
                    flex-direction: column;
                    align-items: flex-start;

                    &::before,
                    &::after {
                        left: 35px;
                    }

                    .title {
                        width: calc(100% - 40px);
                        text-align: start;
                        margin-bottom: 2rem;
                    }

                    .text {
                        font-size: 14px;
                        margin-left: 0;
                        width: calc(100% - 40px);
                    }
                }
            }
        }
    }
}

#skills {
    position: relative;
    margin: 2rem;
    padding-inline: 1px;
    padding-bottom: 1px;
    background-color: $black;
    border-radius: 4rem;
    overflow: hidden;

    @media screen and (max-width: map-get($breakpoints, md)) {
        margin: 1rem;
    }

    @media screen and (max-width: map-get($breakpoints, sm)) {
        margin: 0;
        border-radius: 0;
    }

    .h1 {
        color: $white;
    }

    .skillsList {
        margin-block: 6rem;
        transform: perspective(150px) rotateX(5deg);

        .hexGrid {
            width: 60%;
            max-width: 600px;
            margin: 0 auto;
            padding: 0.707% 0;

            &:after {
                content: "";
                display: block;
                clear: both;
            }

            .hex {
                position: relative;
                list-style-type: none;
                float: left;
                overflow: hidden;
                visibility: hidden;
                -webkit-transform: rotate(-60deg) skewY(30deg);
                -ms-transform: rotate(-60deg) skewY(30deg);
                transform: rotate(-60deg) skewY(30deg);
                pointer-events: none;

                * {
                    position: absolute;
                    visibility: visible;
                }

                .hexIn {
                    display: block;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    color: $white;
                    overflow: hidden;
                    -webkit-transform: skewY(-30deg) rotate(60deg);
                    -ms-transform: skewY(-30deg) rotate(60deg);
                    transform: skewY(-30deg) rotate(60deg);
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    background-color: $white;
                    pointer-events: all;

                    img {
                        left: 50%;
                        top: 50%;
                        width: 60%;
                        height: 60%;
                        transform: translate(-50%, -50%);
                        object-fit: contain;
                        object-position: center;
                    }

                    p {
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        margin: 0;
                        font-size: 16px;
                        font-weight: 500;
                        color: $white;
                        opacity: 0;
                    }

                    &:hover {
                        background-color: $primary;

                        img {
                            opacity: 0;
                        }

                        p {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        @media screen and (max-width: map-get($breakpoints, md)) {
            margin-block: 5rem;

            .hexGrid {
                .hex {
                    .hexIn {
                        p {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        @media screen and (max-width: map-get($breakpoints, sm)) {
            margin-block: 4rem;
        }

        /* SPACING AND SIZING */

        @media screen and (min-width: map-get($breakpoints, sm)) {
            .hex {
                width: 24.25%;
                padding-bottom: 28.001%;

                &:nth-child(7n + 5),
                &:nth-child(7n + 6),
                &:nth-child(7n + 7) {
                    margin-top: -6.134%;
                    margin-bottom: -6.134%;
                    -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
                    -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
                    transform: translateX(50%) rotate(-60deg) skewY(30deg);
                }

                &:nth-child(7n + 5):last-child,
                &:nth-child(7n + 6):last-child,
                &:nth-child(7n + 7):last-child {
                    margin-bottom: 0;
                }

                &:nth-child(7n + 2),
                &:nth-child(7n + 6) {
                    margin-left: 1%;
                    margin-right: 1%;
                }

                &:nth-child(7n + 3) {
                    margin-right: 1%;
                }

                &:nth-child(7n + 8) {
                    clear: left;
                }

                &:nth-child(7n + 5) {
                    clear: left;
                    margin-left: 0.5%;
                }
            }
        }

        @media screen and (max-width: map-get($breakpoints, sm)) {
            .hex {
                width: 32.666%;
                padding-bottom: 37.72%;

                &:nth-child(5n + 4),
                &:nth-child(5n + 5) {
                    margin-top: -8.564%;
                    margin-bottom: -8.564%;
                    -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
                    -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
                    transform: translateX(50%) rotate(-60deg) skewY(30deg);
                }

                &:nth-child(5n + 4):last-child,
                &:nth-child(5n + 5):last-child {
                    margin-bottom: 0;
                }

                &:nth-child(5n + 4) {
                    margin-right: 1%;
                    margin-left: 0.5%;
                }

                &:nth-child(5n + 2) {
                    margin-left: 1%;
                    margin-right: 1%;
                }

                &:nth-child(5n + 6) {
                    clear: left;
                }
            }
        }
    }
}

#projects {
    position: relative;
    overflow: hidden;

    .projectsList {
        position: relative;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-inline: auto;
        margin-block: 0;
        padding-left: 0;
        color: $black;

        .item {
            position: relative;
            display: flex;
            align-items: flex-start;
            padding-block: 4rem;

            .responsiveTitle {
                display: none;
                position: relative;
                font-size: 24px;
                font-weight: bold;
                text-transform: uppercase;
                text-align: center;
                margin: 0;
                padding-bottom: 12px;
                margin-inline: auto;
                margin-bottom: 2rem;

                a {
                    color: $black;
                    text-decoration: none;

                    svg {
                        position: absolute;
                        display: inline;
                        color: $primary;
                        margin-left: 4px;
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 30%;
                    height: 5px;
                    left: 50%;
                    bottom: 0;
                    transform: translateX(-50%);
                    background-color: $primary;
                }
            }

            .imgContainer {
                transition: all 0.3s ease-in-out;
                position: absolute;
                align-self: center;
                width: 45%;
                aspect-ratio: 1/1;
                left: 27%;
                transform: translateX(-50%) scale(0);
                opacity: 0;

                img {
                    position: relative;
                    left: 50%;
                    top: 50%;
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    max-height: 100%;
                    transform: translate(-50%, -50%);
                    object-fit: contain;
                    object-position: center;
                    box-shadow: 0px 0px 20px #0003;
                    border-radius: 1rem;
                }
            }

            .description {
                margin-left: 50%;

                .title {
                    position: relative;
                    font-size: 48px;
                    text-transform: uppercase;
                    margin: 0;
                    margin-bottom: 2rem;

                    a {
                        color: $black;
                        text-decoration: none;
                    }

                    &::after {
                        content: "";
                        display: inline-block;
                        width: 30px;
                        height: 8px;
                        margin-left: 10px;
                        background-color: $primary;
                    }
                }

                .text {
                    margin: 0;
                }
            }

            &:hover {
                .imgContainer {
                    transform: translateX(-50%);
                    opacity: 1;
                }
            }
        }

        @media screen and (max-width: map-get($breakpoints, lg)) {
            width: 90%;

            .item {
                padding-block: 3rem;

                .description {
                    .title {
                        font-size: 40px;
                        margin-bottom: 1rem;
                    }

                    .text {
                        font-size: 14px;
                    }
                }
            }
        }

        @media screen and (max-width: map-get($breakpoints, md)) {
            .item {
                flex-direction: column;
                padding-block: 2rem;

                .number {
                    display: none;
                }

                .responsiveTitle {
                    display: block;
                }

                .imgContainer {
                    position: relative;
                    align-self: center;
                    width: 80%;
                    aspect-ratio: auto;
                    left: 0;
                    transform: none;
                    opacity: 1;
                    margin-bottom: 2rem;

                    img {
                        position: relative;
                        left: 50%;
                        top: 0;
                        width: auto;
                        height: auto;
                        max-width: 100%;
                        max-height: 100%;
                        transform: translateX(-50%);
                        object-fit: contain;
                        object-position: center;
                        box-shadow: 0px 0px 20px #0003;
                        border-radius: 1rem;
                        max-height: 300px;
                    }
                }

                .description {
                    margin-left: 0;

                    .title {
                        display: none;
                    }
                }

                &:hover {
                    .imgContainer {
                        transform: none;
                    }
                }
            }
        }
    }
}

#services {
    position: relative;
    padding-bottom: 6rem;
    overflow: hidden;

    .background {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 30%;
        background-color: $black;
    }

    .servicesList {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 2%;
        list-style: none;
        margin: 0;
        margin-top: 6rem;
        padding-left: 0;
        max-width: 1200px;
        margin-inline: auto;

        .item {
            position: relative;
            padding: 1rem 3% 2rem;
            background-color: $dark;
            color: $white;
            border-radius: 1rem;
            width: 20%;
            box-shadow: 0px 0px 10px rgba($black, 0.4);

            &:nth-child(2) {
                border: solid 6px $primary;
                transform: translateY(0.5rem);
            }

            h3 {
                position: relative;
                text-align: center;
                padding-bottom: 10px;
                margin-top: 1rem;
                font-size: 24px;
                font-weight: bold;

                &::after {
                    content: "";
                    position: absolute;
                    width: 2rem;
                    height: 4px;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: $primary;
                    border-radius: 4px;
                }
            }

            .infoList {
                list-style: disc;
                margin-top: 2rem;
                padding-left: 1rem;

                li {
                    margin-top: 0.8rem;
                }
            }

            .button {
                margin-top: 2rem;
                color: $white;
                z-index: 100;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    @media screen and (max-width: map-get($breakpoints, lg)) and (min-width: map-get($breakpoints, md)) {
        .servicesList {
            .item {
                padding: 1rem 3% 1.5rem;

                h3 {
                    font-size: 20px;
                    margin-top: 0.8rem;
                }

                .infoList {
                    font-size: 14px;
                    margin-top: 1.5rem;

                    li {
                        margin-top: 0.6rem;
                    }
                }

                .button {
                    font-size: 16px;
                    margin-top: 1.5rem;
                }
            }
        }
    }

    @media screen and (max-width: map-get($breakpoints, md)) {
        padding-bottom: 4rem;

        .background {
            display: none;
        }

        .servicesList {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 1.5rem;
            margin-top: 4rem;

            .item {
                width: 50%;

                &:nth-child(2) {
                    transform: none;
                }
            }
        }
    }
}

#footer {
    position: relative;
    background-color: $black;
    padding-top: 4rem;
    padding-bottom: 2rem;
    color: $white;
    overflow: hidden;

    .container {
        display: flex;
        justify-content: space-evenly;
        gap: 1rem;
        width: 95%;
        margin-inline: auto;

        .informations {
            max-width: 500px;
            margin-inline: auto;

            h2 {
                font-size: 64px;
                font-weight: bold;
                color: $primary;
                margin: 0;
                margin-bottom: 3rem;
            }

            .text {
                margin: 0;
                margin-bottom: 3rem;
            }

            ul {
                list-style: none;
                padding-left: 0;

                li {
                    margin-bottom: 0.5rem;

                    a {
                        color: inherit;
                        display: inline-flex;
                        align-items: center;
                        text-decoration: none;

                        span {
                            margin-left: 1rem;
                            padding-bottom: 3px;
                            background: linear-gradient(90deg, $white, $white);
                            background-size: 100% 1.5px;
                            background-position-x: 0%;
                            background-position-y: calc(100% - 2px);
                            background-repeat: no-repeat;
                        }

                        &:hover span {
                            animation-name: underlineHover;
                            animation-duration: 0.6s;
                            animation-timing-function: ease-in-out;
                        }
                    }
                }
            }
        }

        form {
            position: relative;
            display: grid;
            gap: 1rem;
            grid-template-columns: 1fr 1fr;
            max-width: 500px;
            margin-inline: auto;

            .field {
                position: relative;
                background-color: rgba($white, 0.1);
                border-radius: 0.5rem;
                grid-column: span 2;
                min-width: 0;

                &.half {
                    grid-column: span 1;
                }

                label {
                    transition: all 0.3s ease-in-out;
                    position: absolute;
                    left: 1rem;
                    top: 1rem;
                    -webkit-user-select: none;
                    user-select: none;
                    pointer-events: none;
                }

                input,
                textarea,
                button[type="submit"] {
                    width: -webkit-fill-available;
                    padding: 1rem;
                    border: none;
                    outline: none;
                    background-color: transparent;
                    color: $white;

                    &:focus ~ label,
                    &:valid ~ label {
                        transform: translateY(calc(-1rem - 50%));
                        font-size: 14px;
                    }

                    &[type="submit"] {
                        background-color: $primary;
                        border-radius: 0.5rem;
                        font-size: 20px;
                        cursor: pointer;

                        &:hover {
                            filter: brightness(0.9);
                        }
                    }
                }

                button[type="submit"] {
                    &:not(.loading) {
                        .loadingIcon {
                            display: none;
                        }
                    }
                    &.loading {
                        .text {
                            display: none;
                        }
                    }
                }

                textarea {
                    resize: vertical;
                    min-height: 3rem;
                }
            }
        }
    }

    .links {
        position: relative;
        margin-inline: auto;
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-top: 6rem;

        a {
            position: relative;
            color: $white;
            text-decoration: none;

            svg {
                position: relative;
                width: 60px;
                height: 60px;
                object-fit: contain;
                object-position: center;
            }
        }
    }

    @media screen and (max-width: map-get($breakpoints, md)) {
        .container {
            flex-direction: column;
            justify-content: center;
            gap: 3rem;
            width: 90%;
            font-size: 14px;

            .informations {
                max-width: 500px;
                margin-inline: auto;

                h2 {
                    font-size: 56px;
                    margin-bottom: 2rem;
                }

                .text {
                    margin-bottom: 2rem;
                }
            }
        }

        .links {
            gap: 1rem;
            margin-top: 5rem;

            a {
                svg {
                    width: 50px;
                }
            }
        }
    }
}
